<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="servicebusconn" connectionString="Endpoint=sb://az204servicebusjahohm.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=/z7yaKs8gPy2F7YqereoK8OdZaJ7LD9FsWq+VgrSYJ0="/>
	</connectionStrings>
	<appSettings>
		<add key="queuename" value="employeequeue"/>
	</appSettings>
</configuration>